/* a3-style.css */

/* -------- General Page Layout -------- */
body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  margin: 2rem;
  line-height: 1.6;
}

/* Headings */
h1 {
  color: white;
  margin-bottom: 2rem;
}

h2 {
  color: white;
  margin: 2rem 0 0.6rem;
  font-weight: bold;
}

/* Paragraphs / Descriptions */
p {
  color: #cfcfcf;
  max-width: 70ch;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

/* Chart Containers */
.chart {
  margin: 2rem 0;
  background: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-x: auto; /*can scroll if chart too wide*/
  max-width: 100%; /*prevents overflow*/
}

/* Embedded Vega charts */
.vega-embed {
  max-width: 100%;
  overflow-x: auto;
}

code, em {
  color: #ffdf91;
}

